__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
part1/__pycache__
part1/__pycache__/*.pyc
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info
.installed.cfg
*.egg
pybullet312
wandb
models